.jira-container {
	display: flex;
	padding: 1rem;
}

.donut-chart {
    width: 60vw;
}

.heading-container {
    width: 30vw;
    height: 50%;
}

.jiracounter-container {
    width: 30vw;
    height: 50%;
}