.jira-container {
	height: 100vh;
	width: 100vw;
	background: pink;
	display: flex;
	padding: 1rem;
}

.donut-chart {
    background: red;
    width: 60vw;
   
}

.heading-container {
    background: blue;
    width: 30vw;
    height: 50%;
}

.jiracounter-container {
    background: rebeccapurple;
    width: 30vw;
    height: 50%;
}