.GitHub-Container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.TopRepoContrib-Container{
    height: 40vh;
}

.TopRepoDetails-Container{

}

.NumberStat-Container {
    height: 40vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PR-Container{
    height: 25vh;
    width: 30vw;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
}

.PRTitle-Container{
    height: 10vh;
    width: 300px;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
}

.PRDetails-Container{
    height: 15vh;
    width: 300px;
    background-color: red;
}

.CodeLines-Container{
    background-color: rebeccapurple;
    height: 25vh;
    width: 30vw;
    justify-content: center;
    align-items: center;
}

.CodeLineTitle-Container{
    height: 10vh;
    width: 300px;
    background-color: red;
    justify-content: center;
    align-items: center;
}

.CodeLinesDetails-Container{
    height: 15vh;
    width: 300px;
    background-color:purple;
}

.CodeReviews-Container{
    height: 25vh;
    width: 30vw; 
    justify-content: center;
    align-items: center;
    background: salmon;
}

.CodeReviewDetails-Container{
    height: 100vh;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: red;
}