.GitHub-Container {
    height: 80vh;
    width: 600px;
    background-color: pink;
    justify-content: center;
}

.TopRepoContrib-Container{

}

.TopRepoDetails-Container{

}

.NumberStat-Container {
    height: 40vh;
    width: 600px;
    background-color: black;
    display: flex;
}

.PR-Container{
    height: 25vh;
    width: 200px;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
}

.PRTitle-Container{
    height: 5vh;
    width: 300px;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
}

.PRDetails-Container{
    height: 5vh;
    width: 250px;
    background-color: red;
}

.CodeLines-Container{
    background-color: rebeccapurple;
    height: 25vh;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.CodeLineTitle-Container{

}

.CodeLinesDetails-Container{

}

.CodeReviews-Container{
    height: 25vh;
    width: 300px; 
    background-color: chocolate;
    justify-content: center;
    align-items: center;
}

.CodeReviewTitle-Container{

}

.CodeReviewDetails-Container{

}